$primary: rgb(47, 52, 71);
$secondary: rgb(186, 197, 212);
$dark: rgb(10, 10, 10);
$background-opacity: 0.9;
$color-bg1: rgb(211, 211, 211);
$color-bg2: rgb(153, 151, 151);
$color1: rgb(138, 150, 163);
$color2: rgba(239, 239, 237, 0.727);
$color3: #847e7c;
$color4: rgb(200, 50, 50);
$color5: rgb(171, 171, 130);
$color-interactive: rgb(140, 100, 255);

$circle-size: 100%;
$blending: hard-light;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

//Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

//Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 600px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 798px) {
    @content;
  }
}
@mixin mediaLM {
  @media screen and (max-width: 998px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 998px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
