//Widescreens
@include mediaXL {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

//Desktops & Laptops
@include mediaLg {
}

//Small Laptops & Tablets
@include mediaLM {
  main {
    .lg-heading {
      font-size: 2.5rem;;
    }
    .lg-heading-subtitle {
      font-size: 2rem;
    }
    .sm-heading-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

//Small Tablets 
@include mediaMd {
  main {
    overflow: hidden;
    padding: 0rem;

    .lg-heading {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .lg-heading-subtitle {
      font-size: 1.5rem;
    }
    .sm-heading {
      font-size: 1.2rem;
      i {
        width: 32px;
      }
    }
  }

  main {
    &#about {
      align-items: center;
      text-align: center;

      .content-container {

        .lg-heading {
          line-height: 1;
          font-size: 4rem;
          margin-bottom: 1.4rem;
        }

        .about-info {
          grid-template-areas:
            "bioimage"
            "bio"
            "job1"
            "job2"
            "job3";
      
          grid-template-columns: 1fr;
          gap: 0rem;

          .bio-image {
            margin-top: 2rem;
            grid-area: bioimage;
          }
          .bio {
            grid-area: bio;
          }
          .job-1 {
            grid-area: job1;
          }
          .job-2 {
            grid-area: job2;
          }
          .job-3 {
            grid-area: job3;
          }
        }
        
        
      }

    
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate(0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate(-100%, 0);
    font-size: 24px;
  }
  .menu-branding {
    height: 25vh;
    transform: translate(100%, 0);

    .portrait {
      width: 100px;
      height: 100px;
    }
  }
  
  main {
    &#work {
      .projects {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  
}

//Smartphones
@include mediaSm {
  main {
    overflow: hidden;
    padding: 0rem;

    .heading {
      margin: 0;
      padding: 0 1rem;
      .lg-heading {
        font-size: 2rem;
      }
      .lg-heading-subtitle {
        font-size: 1rem;
        padding-top: 0rem;
        padding: 0.5rem;
      }
      .sm-heading-container {
        display: flex;
        flex-direction: column;
        .sm-heading {
          margin: auto;
          margin-top: 1.5rem;
          font-size: 1rem;
          width: 80%;
          i {
            width: 32px;
          }
        }
        .btn-front-container {
          width: 100%;
        }
      }
    }
    
    
  }

  main {
    &#about {
      padding: 0;
      .content-container{
        padding: 1rem 1.5rem;
        .lg-heading{
          font-size: 2.3rem;
          letter-spacing: 11px;
          margin-top: 0.8srem;
        }
      }
    }
  }

  .portrait {
    width: 60px;
    height: 60px;
  }

  main#home h1 {
    margin-top: 10vh;
  }

  main {
    &#work {
      .projects {
        grid-template-columns: 1fr;
      }
    }
  }
}
