@import "config"; /* imports the _config.scss file*/
@import "menu";
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  color: set-text-color($color-bg1);
  position: relative;
  height: 100%;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.gradient-bg {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom !important;
  //background: linear-gradient(40deg, $color-bg1, $color-bg2);
  z-index: -1;
  pointer-events: none; // avoid clicking on the bubbles

  svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba($color1, 0.5) 0, rgba($color1, 0) 50%) no-repeat;
    mix-blend-mode: $blending;

    width: $circle-size;
    height: $circle-size;
    top: calc(50% - $circle-size / 2);
    left: calc(50% - $circle-size / 2);

    transform-origin: center center;
    animation: moveVertical 40s ease infinite;

    opacity: 0.5;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba($color2, 0.8) 0, rgba($color2, 0) 50%) no-repeat;
    mix-blend-mode: $blending;

    width: $circle-size;
    height: $circle-size;
    top: calc(50% - $circle-size / 2);
    left: calc(50% - $circle-size / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 70s reverse infinite;

    opacity: 0.5;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba($color3, 0.8) 0, rgba($color3, 0) 50%) no-repeat;
    mix-blend-mode: $blending;

    width: calc($circle-size + 100px);
    height: $circle-size;
    top: calc(50% - $circle-size / 2 + 200px);
    left: calc(50% - $circle-size / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 90s linear infinite;

    opacity: 0.5;
  }  
}

header {
  position: fixed;
  z-index: 200;
  width: 100%;
}

.heading {
  padding: 1rem 4rem;

  .sm-heading-container {
    display: flex;
    flex-direction: row;
  }
}

h1,
h2,
h3 {
  font-weight: 400;
  z-index: 100;

  &.lg-heading {
    display: flex;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;//"Raleway", sans-serif;
    font-optical-sizing: auto;
    color: $primary;
    font-size: 4rem;
    letter-spacing: 0px;
    font-weight: 300;
    z-index: 100;

    div:hover {
      transform: scale(1.1);
      @include easeOut;
      &.text-white {
        color: $primary;
      }
    }
    div {
      backface-visibility: hidden;
      @include easeOut;
    }
  }

  &.lg-heading-subtitle {
    font-size: 2.5rem;
    padding: 2rem;  
    letter-spacing: 2px;
    cursor: default;
     span {
      white-space: nowrap;
     }

    .inline-letter-white {
      display: inline-block;
      letter-spacing: 4px;
      @include easeOut;

      &.inline-letter-white:hover {
        letter-spacing: 15px;
        font-weight: 400;
        color: lighten($primary, 19);
        @include easeOut;
      }
    }
    
  }

  &.sm-heading {
    position: relative;
    margin: 0.4rem;
    padding: 0.2rem;
    width: 60%;
    border-radius: 3px;
    color: lighten($color: $color1, $amount: 27);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(darken($color-bg2, 25), 1);
    z-index: 1;

    .sm-heading-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.4rem 0.8rem;
      border: 1px solid rgba(255, 255, 255, 0.229);
      z-index: 1;
    }
  }
}

a {
  color: #111;
  text-decoration: none;
}

.text-secondary {
  color: $primary;
  font-weight: 400;
  @include easeOut;
  &:hover {
    color: #111;
  }
}

.btn-front-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 40%;

  .btn-front-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(white, 0.4);
    padding: 0.1rem;
    transition: 0.3s all ease-in-out;

    &:hover {
      border: 1px solid rgba(35, 35, 35, 0.8);
      box-shadow: 4px 4px rgba(35, 35, 35, 0.8);
    }
  }

  .btn-front {
    padding: 0.4rem 0.9rem;
    font-size: 20px;
    color: #f0f0f0;
    font-weight: 400;
    letter-spacing: 3px;
    background-color: rgba(darken($primary, 13), 0.9);
    border: 2px solid $secondary;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all ease-in-out;

    &:hover {
      transform: scaleX(1.02) scaleY(1.08);
      background-image: linear-gradient(
        to bottom right,
      rgba(lighten($primary, 9), 0.1),
      rgba(darken(white, 1), 0.2)
      );
    }

    i {
      vertical-align: middle;
    }
  }
}
.chatbot-bg {
  background-color: rgba(240, 240, 240, 0.9);
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 56px;
  height: 56px;
  z-index: 199;
}
#chatbot-toggle {
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 56px;
  height: 56px;
  background: url("../img/chatbotBW.png");
  background-size: cover;
  z-index: 200;
  @include easeOut;
  &.close-toggle {
    visibility: visible;
   }
}

#chatbot-container {
  max-width: 400px;
  max-height: 90vh;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 3px;
  overflow-y:scroll ;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: white;
  transform: translate(95%, 0);
  z-index: 100;
  opacity: 0;
  @include easeOut;

  &.show-container {
    transform: translate(0, 0);
    opacity: 1;
  }

  #chatbot {
    padding: 20px;

    .chat-message {
      margin-bottom: 10px;
      padding: 10px 14px;
      border-radius: 3px;
      max-width: 90%;
    }

    .bot {
      background: #f0f0f0;
    }

    .user {
      background: lighten($primary, 20);
      align-self: flex-end;
    }

    .chat-options {
      button {
        margin: 4px 5px 0 0;
        padding: 8px 12px;
        border: none;
        background: $primary;
        color: white;

        &:hover {
          background: lighten($primary, 20);
        }
      }
    }
  }
}

main {
  min-height: 91.6vh;
  flex: 1;
  padding-bottom: 80px;

  .icons {
    margin: 0rem 0.5rem;

    a {
      padding: 0rem 0.5rem;
      backface-visibility: hidden;

      &:hover {
        color: $secondary;
        @include easeOut();
      }
      i:hover {
        &:hover {
          transform: scale(1.2);
          @include easeOut();
        }
      }
    }
  }

  &#home {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    h1 {
      margin-top: 8vh;
    }
  }
}

.page-wrapper {
  position: relative;
  min-height: 100vh;
  padding-bottom: 80px;
}
main {
  &#about {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    .content-container {
      padding: 2rem 5rem;

      .lg-heading {
        font-size: 2rem;
        font-weight: 400;
        color: var($primary);
        letter-spacing: 15px;
        padding-left: 0.7rem;
      }

      .sm-heading {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-size: 1rem;
        width: 100%;
        z-index: 1;
        .sm-heading-wrapper {
          align-items:flex-start;
        }
      }

      .about-info {
        display: grid;
        grid-gap: 50px;
        grid-template-areas:
          "bio bio bio"
          "job1 job2 job3";
        grid-template-columns: repeat(3, 1fr);

        .bio {
          grid-area: bio;
          font-size: 1.2rem;
          letter-spacing: 2px;
          line-height: 1.9rem;
          padding-top: 2rem;
          margin-bottom: 2rem;
          .bio-title {
            font-size: 1.5rem;
          }
          }

        .job {
          padding: 1rem 1.5rem;
          background: lighten($primary, 5);
          padding: 1.5rem;
          margin-bottom: 1rem;
          border-bottom: lighten($primary, 11) 1px solid;
          background: rgba(lighten($primary, 30%), 0.4); // Lighten color, then apply transparency
          backdrop-filter: blur(15px);
          -webkit-backdrop-filter: blur(15px)

          h3 {
            letter-spacing: 5px;
          }

          p {
            padding-top: 0.4rem;
            margin-top: 1rem;
          }
        }

        .job-1 {
          grid-area: job1;
        }
        .job-2 {
          grid-area: job2;
        }
        .job-3 {
          grid-area: job3;
        }
        
      }
      
    }
  }
}

//Work/Projects

main {
  &#work {
    padding: 1rem 3rem;

    .lg-heading {
      font-family: 'Dosis', Calibri, sans-serif;
      
      .letter {
        text-shadow: 0px 0px 2px $primary;
      }
    }

    
    .sm-heading {
      font-family: 'Dosis', Calibri, sans-serif;
      letter-spacing: 2px;
      font-weight: 200;
      margin-bottom: 1.5rem;
      width: 100%;
      .sm-heading-wrapper {
        align-items: flex-start;
      }
    }
    .projects {
      display: grid;
      grid-gap: 0.7rem;
      grid-template-columns: repeat(2, 1fr);
    
      .project {
        opacity: 0;
        margin: 0.2rem;
        transform: translateY(10px);
        transform: scale(0.2);
        transition: 0.7s all ease-in-out;
        padding-bottom: 0.9rem;
        z-index: -10;
      }
    
      .appearing-project {
        opacity: 1;
        transform: translateY(0px);
        transform: scale(1);
        z-index: 100;
      }
    
      img, video {
        width: 100%;
        border: 16px rgba(lighten($primary, 10), 0.2) solid;
      
        &:hover {
          opacity: 0.5;
          border-color: $secondary;
          @include easeOut;
        }
      }
      embed {
        width: 100%;
        height: 100%;
      }
    
      a {
        text-align: center;
      }
    }

  }
}

// Contact Page
.page-wrapper {
  main {
    &#contact {
      padding: 5rem;
      .sm-heading {
        width: 100%;
        padding: 1rem;
      }
      .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 3rem;
      
        div {
          font-size: 2rem;

          background: lighten($color-bg2, 9);
          border: 3px darken($color-bg2, 18) solid;
          padding: 1.5rem 2.5rem;
          margin-bottom: 3rem;
          @include easeOut;
      
          &:hover {
            padding: 2rem 3rem;
            background: darken($primary, 7);
            color: set-text-color($primary);
            span {
              color: set-text-color($primary);
            }
          }
          .text-secondary {
            color: $dark;
          }
        }
      }
      
    }
    
  }
}


//Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;

  &:hover {
    background: $secondary;
    color: set-text-color($secondary);
    opacity: 0.9;
    @include easeOut;
  }
}

.btn-dark {
  @extend .btn;
  background: rgba(darken($secondary, 8), 0.8);
  margin: 0 3rem;
  font-size: 0.7rem;
  letter-spacing: 2px;
  transform: translateY(-0.8rem);
}

.btn-light {
  @extend .btn;
  background: lighten($primary, 12);
}

#main-footer {
  position:absolute;
  height: 60px;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background: darken($primary, 10);
  color: set-text-color($primary);
  bottom: 0;
  z-index: 3;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

@import "mobile";
