* {
    padding: 0;
    margin: 0;
}
main {
    background: url("codeGreenBg.png");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.content-container {
    background-color: rgba(106, 150, 244, 0.577);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

section {
    padding: 2rem 0rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 3rem;
    background-color: rgba(10, 10, 10, 0.7);
    letter-spacing: 15px;
    padding: 0rem 2rem 1rem 2rem;
    color: rgb(166, 233, 255);
    text-shadow: 0px 0px 5px white;
    border-radius: 25px;
    border: 1px solid rgb(166, 233, 255);
    box-shadow: 0px 0px 15px rgb(166, 233, 255);
    margin-bottom: 1rem;
    text-align: center;
}
.big-letter {
    font-size: 3.5rem;
}

.points {
    background-color: rgba(10, 10, 10, 0.8);
    padding: 1rem 2rem 1rem 2rem;
    color: rgb(219, 244, 255);
    border-radius: 25px;
    border: 1px solid rgb(166, 233, 255);
    box-shadow: 0px 0px 15px rgb(166, 233, 255);
    margin-bottom: 1rem;
    margin-right: 2rem;
    line-height: 2.5rem;
    width: 70%;
}
.points h2 {
    font-size: 2rem;
    padding-bottom: 1.5rem;
}
.enhanced-text {
    font-weight: 800;
    color: white;
}

.left {
    padding-left: 4rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chatbot-portrait {
    background-image: url("chatbot-blue-noBG.png");
    background-size: cover;
    background-color: rgba(23, 58, 70, 0.907);
    width: 35vw;
    height: 70%;
    margin: 0 1rem;
    border-radius: 105px;
    border: 1px solid rgb(166, 233, 255);
    box-shadow: 0px 0px 15px rgb(166, 233, 255);
}