:root {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #333;

  font-family: "Gloria Hallelujah", cursive;
  font-size: 1em;
}
body * + * {
  margin-top: 1.5em;
}

header {
  color: #eee;
  padding: 1em 1.5em;
  background-color: rgba(51, 51, 51);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
}

.container {
  display: flex;
}

main {
  display: block;
}

.main {
  width: 70%;
  padding: 1em 1.5em;
  background-image: url("../img/photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  color: #fcfff9;
}
.sidebar {
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5em;

  letter-spacing: 3px;
  width: 30%;
  margin-left: 1.5em;
  margin-top: 0;
  padding: 1.5em;
  background-color: rgba(51, 51, 51);
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
}

.button-link {
  color: #ff6736;
  display: block;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
  border-radius: 0.5em;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.4);
}

.button-link + .button-link {
  margin-top: 1.5em;
}
.sponsor-link {
  color: #ff6736;
  display: block;
  font-weight: 500;
  text-decoration: none;
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 3em;
  color: #fffb00;
  letter-spacing: 4px;
}

h2 {
  font-family: "Fredericka the Great", cursive;
}
